.App {
  text-align: center;
}
.nav-content {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-left: 400px;
}

.schedule-calender {
  margin: 0 auto; 
  padding-top: 20px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -650%);
  text-align: center;
}

.gallery-pics {
  width: 1100px;
  height: 1000px;
  overflow-y: scroll;
  margin: 0 auto;
}


.galleries-container {
  padding-left: 50px;
}
.gallery-container {
  height: 300px;
  max-width: 300px;
  padding-top: 75px;
}

.gallery-container:hover .gallery-image {
  opacity: 0.3;
}

.gallery-text {
  background-color: black;
  opacity: .65;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.gallery-text:hover {
  cursor: pointer;
}

.gallery-container:hover .middle {
  opacity: 1;
}

.gallery-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}



.jumbo-1 {
  background-image: url('./pictures/kinney_chair.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
}

.line-nav {
  border-top: 3px double #8c8b8b;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
