.App {
  text-align: center;
}
.nav-content {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-left: 390px;
}

.schedule-calender {
  margin: 0 auto; 
  padding-top: 20px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -650%);
  text-align: center;
}

.top-padding {
  padding-top: 70px;
}

.top-padding-more {
  padding-top: 200px;
}

.gallery-pics {
  width: 1100px;
  height: 1000px;
  overflow-y: scroll;
  margin: 0 auto;
}


.galleries-container {
  padding-left: 50px;
}

.gallery-container {
  height: 300px;
  max-width: 300px;
  padding-top: 75px;
}

.gallery-container:hover .gallery-image {
  opacity: 0.3;
}

.gallery-text {
  background-color: black;
  opacity: .65;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.gallery-text:hover {
  cursor: pointer;
}

.gallery-container:hover .middle {
  opacity: 1;
}

.gallery-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.exit-form-button {
  content: "\2716";
}


.booking-form-container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}

.booking-list-container {
  background-color: white;
  height: 520px;
}

.calender {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.booking-form {
  text-align: center;
}


.booking-row {
  background-color: white;
  
}

.scheduling-card {
 
}

.about-me-image {
  height: 250px;
}

.about-me-container {
  padding-top: 200px;
}

.about-me-background {
  background-image: url('./pictures/bridge_background.JPG');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 1700px;
}

.galleries-parent-container {
  padding-bottom: 300px;
}

.jumbo-1 {
  background-image: url('./pictures/background-beachnight.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  height: 850px;
}

.main-text {
  font-family: 'Dancing Script', cursive;
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 100px;
  padding-top: 60px;
}

.jumbo-booking {
  background-image: url('./pictures/80E5A991-35E7-4A25-A993-125FF4F83C98.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 900px;
  padding-top: 50px;
  padding-right: 40px;
}

.transparent-bg{
    background: rgba(255, 255, 255, 0);
    
}

.line-nav {
  border-top: 3px double #8c8b8b;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.footer{
  background: black;
  color:white;
  height: 300px;
}

.button-container-booking {
  color: blue;
  padding-top: 10px;
}

.copyright p{border-top:1px solid rgba(255,255,255,.1);} 


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
